<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Front Page</key>
	<string>http://www.reddit.com/.json</string>
	<key>Pics</key>
	<string>http://www.reddit.com/r/pics/.json</string>
	<key>Funny</key>
	<string>http://www.reddit.com/r/funny/.json</string>
</dict>
</plist>
